<section class="section">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <h2 class="title is-3">Upcoming Events</h2>
            <% @events.upcoming.each do |event| %>
                   <%= render 'events/event_snippet', event: event %> 
            <% end %>

            <h2 class="title is-3">Ongoing Events</h2>
            <% @events.ongoing.each do |event| %>
                   <%= render 'events/event_snippet', event: event %> 
            <% end %>

            <h2 class="title is-3">Past Events</h2>
            <% @events.past.each do |event| %>
                <%= render 'events/event_snippet', event: event %>
            <% end %>
        </div>
    </div>
</section>

